

<div>
  <h2>Welcome to Speed of Sound {{loggedIn.name.first}}! </h2><iframe allowtransparency="true" scrolling="no" frameborder="no" src="https://w.soundcloud.com/icon/?url=http%3A%2F%2Fsoundcloud.com%2Fdasha-daniyalian&color=black_white&size=32" style="width: 32px; height: 32px;"></iframe><br>

  <input type="text" ng-model=search><br>
  <ul>
    <li ng-repeat= 'song in songs | filter: search | orderBy: "-createdAt" | limitTo: 10 '>{{song.user.name}} - {{song.title}} - {{order.createdAt | date: "short"}}</li>
  </ul>


  <img ng-repeat='song in songs' ng-src ='{{song.imageUrl}}'>
      <a href="#!/songs"> Songs by this artist</a></br>

</div>
 <button ng-click="logOut()">Log Out</button>
