<div ng-if="!loggedIn.name">
  <form name="form">
    User Name:<input name=username type=text ng-model=user.name.user ng-blur="checkUserName()" required><span ng-if="screenName == 'available'"style="color:red">User Name does not exist</span><br><br>

    Password:<input type=password ng-model=user.password required><br>
    <button ng-disabled="screenName == 'available' || form.$invalid" ng-click=logIn()>Log In</button><a href="#!/register">or Register</a>
  </form>
</div>

<div ng-if="loggedIn.name">
  Welcome {{loggedIn.name.first}}, You are already logged in. <br>
  <button ng-click="logOut()">Log Out</button>
</div>
