<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="static/login_reg.css" rel="stylesheet">
    <link rel="stylesheet" href="static/style.css"/>
    <link rel="stylesheet" href="static/profile.css"/>
    </head>
    <body>
      <div class="row">
 <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2"></div>
 </div>
 <nav class="navbar navbar-default">
    <div class="container-fluid">
       <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand"><i class="glyphicon glyphicon-music"></i></a>
       </div>
       <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
             <li><a href="#!/home">Home</a></li>
             <li><a href="#!/collection">Collection</a></li>
          </ul>
          <form class="navbar-form navbar-left">
             <div class="form-group">
                <input type="text" class="form-control" placeholder="Search Songs" ng-model=filter_song>
             </div>
             <button type="submit" class="btn btn-default">Submit</button>
          </form>
          <ul class="nav navbar-nav navbar-right">
          <li><a href="#!/upload">Upload Song</a></li>
          <li><a href="#!/profile">{{loggedIn.name.first}} Profile</a></li>
          <li><a href="#!/logOut">Logout</a></li>
          </ul>
       </div>
    </div>
 </nav>
 <link href='' rel='stylesheet' type='text/css'>
<div class="container">
    <div class="fb-profile">
        <img align="left" class="fb-image-lg" src="static/image/speed-of-sound-on.jpg" alt="Profile image example"/>
        <img align="left" class="fb-image-profile thumbnail" src="http://www.planwallpaper.com/static/images/10-Cool-Google-Brand-Covers_sMxmvqR.jpg" alt="Profile image"/>
        <div class="fb-profile-text">
            <h1>{{loggedIn.name.first}}</h1>
        </div>
    </div>
</div>
<ul>
  <li ng-repeat= 'user in users | orderBy: "-createdAt" '>{{user.first}} {{user.createdAt | date: "short"}}</li>
  </ul>

<nav class="sidenav">
  <br>
  <h4><a href="#!/upload">Upload Image</a></h4>{{user.pic}}<br>
  <h4><a href="#!/following">Following</a></h4>{{user.following}}<br>
  <h4><a href="#!/followers">Followers</a></h4>{{user.followers}}<br>
  <h4><a href="#!/like"></a><a ng-click="likeClick()" ng-init="liked='Like'; likeCount=0">
      {{liked}} {{likeCount}}
  </a></h4><br>

</nav>

    </body>
